*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: brown;
    padding-top: 10px;
}

h2{
    display: inline-block;
    padding-top: 10px;
    padding-left: 20px;
}

